@model IEnumerable<V1.Models.ViewModel.CarouselViewModel>

@{
    Layout = null;

}

<div class="slideWrap">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @{  var i = 0;
              var active = "";
              foreach (var item in Model)
              {
                  if (item.IsActive)
                  {
                      active = "active";

                  }
                  else
                  {
                      active = "";
                  }

                <li data-target="#myCarousel" data-slide-to="@i" class="@active"></li>
                  i++;
              }

            }
        </ol>
        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                if (item.IsActive)
                {
                    active = "item active";
                }
                else
                {
                    active = "item";
                }

                <div class="@active">
                    <img alt="First slide" src="@item.ImageSrc" />
                    @if (item.CarouselCaption != null)
                    {
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>@item.CarouselCaption.Text</h1>
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>


