@model V1.Models.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">
        <fieldset>
            <legend>User login</legend>

            <div class="input-group">
                <span class="input-group-addon fix-Label-width">User Name</span>

                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "User Name", required = "" })
                @Html.ValidationMessageFor(model => model.UserName)

            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon fix-Label-width">Password</span>


                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password", required = "" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <br />
            <div class="input-group">
                <button type="submit" class="btn btn-primary">Login</button>
                &nbsp;
            
                <a href="@Url.Action("Create","Login")" class="btn btn-default">Sign-up!</a>
            </div>

        </fieldset>
    </div>
}


